db:
  image: postgres:9.5

web:
  build: .
  command: bundle exec rails s -p 3000 -b '0.0.0.0'
  environment:
    - WOMENRISING_DOCKER=true
  volumes:
    - .:/app
  ports:
    - "3000:3000"
  links:
    - db
