<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
    }
    a,
    h1 {
      color: rgb(45, 62, 93);
    }

  </style>

  <body>
    <h1>Remember to sign up for peer groups!</h1>

    <img src="http://www.womenrising.co/assets/logo-7e380c299d3a84e6826ba4e5b7d7108934cb661659ac99bf1e928fb715a4ba4b.png" alt="">

    <p>It's that time again! We're about to run Women Rising matches for next month and we want YOU to join us!</p>
    
    <p>If you're receiving this email, it's because you haven't opted in for this month yet. 
    To keep everyone engaged we ask you to re-opt-in each month. Just login and follow the link below to participate this month.</p>
    
    <p><%= link_to 'Participate in Peer Group', "http://www.womenrising.co/users/#{@user.id}/will_participate" %></p>
    
    <p>While you're at it, why not opt-in to mentoring this month? You never know who YOU could help!</p>

    <p>Cheers,</p>
    <p>The Women Rising Team</p>
    <p>@TheWomenRising</p>
    <p><%= link_to("www.womenrising.co", "http://www.womenrising.co/")%></p>
  </body>
</html>