<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
    }
    a,
    h1 {
      color: rgb(45, 62, 93);
    }

  </style>

  <body>
    <h1>Sign Up for Peer Groups</h1>

    <img src="http://www.womenrising.co/assets/logo-7e380c299d3a84e6826ba4e5b7d7108934cb661659ac99bf1e928fb715a4ba4b.png" alt="">

    <h3>We encourage you to sign up for peer groups.</h3>

    <p>Just follow the link below (and login if necessary) to participate this month.</p>
    <p><%= link_to 'Participate in Peer Group', "http://www.womenrising.co/users/#{@user.id}/will_participate" %></p>

    <p>--</p>
    <p>The Women Rising Team</p>
    <p>@TheWomenRising</p>
    <p><%= link_to("www.womenrising.co", "http://www.womenrising.co/")%></p>
  </body>
</html>