<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
		<body>
	    <h1>Peer Match Unavailable</h1>

	    <p>We regret to inform you that we did not have enough people sign up match as a peer group with you this month. This is a rare occurance but can happen if there is a lot of people with plans and cannot participate. We highly encourage you to tell other women in your community to join women rising and participate so this will not happen again.</p>


		<p>Happy solidarity and inspiration! </p>
		<p>The Women Rising Team</p>

		<p>Groups were formulated based on the factors of (starting with most important): major goal, career level in industry, preferred industry to meet with and non-career interests. This formula is still in production, so feel free to reply with some <%= mail_to( "info@womenrising.co" , "Feedback")%>!<p>
	</body>
</div>
