<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Women Rising, <%= @user.first_name%>!</h1>
    <p>This powerful and positive community will help connect you to other women in your city hustling as hard as you are. We'll all support each other in rising to the top. </p>
    <p> This program is designed to help you... </p>
      <ol>
        <li>Meet peers for three-women "mini-meetups"</li>
        <li>Match potential mentors/mentees for 30 minute Skype call!</li>
      </ol>

    <p>Each month we assign a new round if peers and mentors, so you're always meeting new people! However, after each match you'll have to opt-in to receive another one so check the website and make sure your settings are always updated!</p>

    <p>We can't wait to meet you in person! </p>

    <p>PS -- we'd love if you told some friends or tweeted something like "I just joined @TheWomenRising, an awesome new #Detroit network for women to connect, support and mentor each other! <%= link_to("www.womenrising.co", "http://www.womenrising.co/")%>"</p>

    <p>--</p>
    <p>The Women Rising Team</p>
    <p>@TheWomenRising</p>
    <p><%= link_to("www.womenrising.co", "http://www.womenrising.co/")%></p>
  </body>
</html>
