<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Women Rising, <%= @user.first_name%>!</h1>
    <p> We're so excited you're joining! This powerful and positive community will help connect you to other women hustling as hard as you are in the Detroit area, and we'll all support each other in rising to the top. </p>
    <p> This program is designed to help you... </p>
      <ol>
        <li>Meet peers in your field, career level and local area for three-women "mini-meetups" up to once a month!</li>
        <li>Get introductions to potential mentors/mentees up to once a month for a 30 minute Skype call!</li>
      </ol>
    
    <p>Every month you'll have to re-opt-in, so look for an email from us to make sure you're signed up each month! </p>
    
    <p>We can't wait to meet you in person! </p>
    
    <p>PS -- we'd love if you told some friends or tweeted something like "I just joined @TheWomenRising, an awesome new #Detroit network for women to connect, support and mentor each other! http://www.womenrising.co"</p>

    <p>--</p>
    <p>The Women Rising Team</p>
    <p>@TheWomenRising</p>
    <p><%= link_to( "www.womenrising.co")%></p>
  </body>
</html>
