<nav>
  <div class="logo">
    <%= image_tag "logo.png" %>
  </div>
  <ul class="headerNav">
    <li><a href="/" class='active'>Home</a></li>
    <li><a href="#featured">Featured</a></li>
    <li><a href="#howitworks">How It Works</a></li>
    <li><a href="#partners">Partners</a></li>
    <%= link_to "Login", user_omniauth_authorize_path('linkedin') %>
  </ul>	
</nav>
