<div class="second-footer">
	<h1>Join Women Rising (it's free) will help you:</h1>

	<div class="section">
		<h3>Find Peers</h3>
		<p>Have real conversations with other women hustling as hard as you are. We'll set you up on algorithmically matched "mini-meetups" of three women in your peer group, industry and city.  Do it for fun and friends, do it for networking, or do it for both!</p>
	</div>

	<div class="section">
		<h3>Find Mentorship</h3>
		<p>Connect to wiser women via Skype chat for advice and insight, or role playing on specific issues (like asking for a raise). If there's natural mentorship chemistry, you two will find another time to chat again. Otherwise, try someone new! </p>
	</div>

	<div class="section">
		<h3>Mentor Others</h3>
		<p>You don't have to be Mary Barra to mentor women, you just have to have a few years experience on them. Connect to others who'd like to be in your position and give back to the gender that made you. Your only commitment is one Skype chat, as frequently as your settings allow.</p>
	</div>

</div>
