<div class="wrapper">
	<h1 class="subject">Request A Mentor</h1>
	<div class = "mentor">
		<h3>What would you like to talk with your mentor about?</h3>
		<%= form_for @mentorship do |f| %>
		  <%= f.text_field :question, id: 'question-input' %>
		  <%= f.submit "Submit", class:"btn btn-primary" %>
		<%end%>
	</div>
</div>
