.headerNav,
.headerNav li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.headerNav {
	float:right;
	li {
		display: inline-block;
    
		a {
			display: inline-block;
			margin: 1.9rem 0;
			padding: 1.8rem 1.2rem 1.7rem;
			font-size: 1.2rem;
			color: $headerNavColor;
			font-weight: 500;

			&.active {
				color: $activeColor;
			}

			&:hover {
				text-decoration: none;
			}
		}

		&:last-child {
      .with-border, 
      .avatar {
        border-left: 1px solid $headerNavColor;
      }
      .avatar {
        padding: 0.3rem 2rem;
        img {
          display: inline-block;
          height: 40px;
          width: 40px;
          margin-right: 0.2rem;
        }
        padding-right: 0;
        ~ a {
          color: $headerNavColor;
          font-weight: normal;
          padding-left: 1rem;
        }
      }
      a {
        color: $highLighted;
        font-size: 1.4rem;
        padding: 1rem 2rem;
        font-weight: 600;
      }
    }
	}
}

