.navbar-nav {
  li {
    &:last-child {
      display: inline-block;

      .with-border,
      .avatar {
        border-left: 1px solid $headerNavColor;
      }
      .avatar {
        padding: 0.3rem 2rem;
        img {
          display: inline-block;
          height: 40px;
          width: 40px;
          margin-right: 0.2rem;
        }
        padding-right: 0;
        ~ a {
          color: $headerNavColor;
          font-weight: normal;
          padding-left: 1rem;
        }
      }
      a {
        color: $highLighted;
        font-size: 1.4rem;
        font-weight: 600;

        @media (min-width: $screen-xs-max) {
          display: inline-block;
        }
      }
    }
  }
}

ul.navbar-nav {
  padding-top: ($navbar-height / 2);
  padding-right: 10px;
}

.navbar-header {
  display: flex;
}

.navbar {
  margin-bottom: 0;
}

/* Extra small devices (phones <768px) */
@media (max-width: $screen-xs-max) {
  .navbar-brand img {
    width: 50%;
  }
}
