/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

.navbar {
	padding-top: 10px;
	background-color: #555;
	height: 100px;
}

.text-muted {
	color: #FFF;
}

.text-muted:hover {
	color: #add8e6;
}

.title {
	padding-top: 20px;
	padding-left: 40px;
}

.nav>li>a{
	color: #FFF;
}

.nav>li>a:hover{
	background-color:#000;
}

 .wrapper {
    overflow: auto;
    height: 99.9%;
}

footer {
	background-color: #555;
	color: #FFF;
	text-align: center;
	width: 100%;
	padding: 20px;
}

html, body {
	height: 100%;
	overflow: auto;
}

title a:hover {
	color: #FFF;
}

footer h5 a:hover {
	color: #add8e6;
}

footer h5 a {
	color: #FFF;
}
footer p {
	margin-bottom: 0px; 
}