/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
	background-color: #F4F4F4;
	color: #000;
}

.context {
	background-color: #1C4585;
	color: #FFF;
	margin: 0 auto;
	margin-bottom: 60px;
	width: 60%;
	font-size: 1.3em;
	padding: 20px;
	border-radius: 20px;
}

.context a {
	color: #F2CB15;
}

.subject {
	color: #F2CB15;
	margin-left: 150px;
}



 /*header*/

 .btn-default {
 	margin: 0 auto;
 	background-color: #F2CB15;
 	width: 25%;
 	margin-top: 20px;
 	margin-bottom: 40px;
 }

 .btn-default:hover {
 	background-color: #F2CB15;
 }

 .btn-default a {
 	color: #000;
 }

.btn-lg {
	padding: 30px;
	font-size: 30px;
}

.navbar {
	padding-top: 26px;
	background-color: #555;
	height: 140px;
}


.title {
	padding-top: 10px;
	padding-left: 40px;
}

.title p {
	color: #F2CB15;
	font-size: 1.3em;
}

.header {
	padding-bottom: 40px;
}

.nav {
	padding-right: 20px;
}

.nav>li>a{
	color: #FFF;
	font-size: 110%;
}

.nav>li>a:hover{
	background-color:#000;
}

.text-muted {
	color: #FFF;
}

.text-muted:hover {
	color: #add8e6;
}

/* index*/

.logo h1 {
	margin-bottom: 30px;
}

.second-footer {
	text-align: center;
	padding-top: 20px;
	background-color: #1C4585;
	color: #FFF;
}

.second-footer h1 {
	margin-bottom: 40px;
}

.section {
	vertical-align: text-top;
	width: 260px;
	text-align: center;
	display: inline-block;
	margin-right: 60px;
	margin-left: 90px;
	margin-bottom: 20px;
}

.section img {
	width: 141px;
	height: 141px;
}

.partners {
	text-align: center;
	margin-bottom: 60px;
}

.partners img {
	height: 170px;
}

.logo {
	text-align: center;
}

/*user show*/

.waitlist {
	color: #1C4585;
	width: 50%;
	margin: 0 auto;
}

.waitlist p {
	font-size: 1.3em;
}

.blog-main {
	display: inline-block;
	width: 70%;
}

.blog-sidebar {
	display: inline-block;
	vertical-align: top;
	background-color: #FFF;
	margin-right: 5px;
	margin-top: 50px;
	width: 20%;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid black;
}

.blog-sidebar a {
	color: #1C4585;
	padding: 5px;
}

/*user edit*/

.field_with_errors {
	width: 15px;
	display: inline-block;
}

input,select {
	color: #000;
}

.interests {
	margin-left: 10%;
	margin-bottom: 20px;
}

.interests div {
	display: inline-block;
}

.check {
	vertical-align: top;
	margin-right:20px;
	margin-bottom: 10px;
	width: 150px;
}

.context h4 {
	font-weight: bold;
}

.context span {
	font-weight: bold;
}

/* request mentor*/

 .wrapper {
    overflow: auto;
    height: 110%;
}

.mentor {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	background-color: #1C4585;
	color: #FFF;
	padding: 40px;
	border-radius: 10px;
	font-size: 1.3em;
	margin-bottom: 120px;
}

.mentor h4 {
	font-weight: bold;
	font-size: 22px;
}

.mentor p {
	font-size: 16px;
}

.mentor li {
	list-style-type: none;
}

/*footer*/


footer {
	background-color: #555;
	color: #FFF;
	text-align: center;
	width: 100%;
	padding: 30px;
}

footer h5 a:hover {
	color: #add8e6;
}

footer h5 a {
	color: #FFF;
}
footer p {
	margin-bottom: 0px; 
}

