/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

$activeColor: #EFA936;

$navbar-default-bg: #fff;
$navbar-default-link-active-color: $activeColor;
$navbar-default-link-active-bg: inherit;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "styles";
@import "header";


.col-x {
    width: 200px;
}

.wr-location {

    .hero-img {
        @extend .center-block;

        max-width: 100%;
        max-height: 200px;
    }
}

.wr-maxwidth {
    max-width: 100%;
}
