
/*
*
* variables
*
*/

$activeColor: #EFA936;
$headerNavColor: #9B9B9B;
$highLighted: #1BC49B;
$bodyBackground: #2D3E5D;
$lightHeader: #CB275A;
$darkHeader: #efefef;

/*
*
* generic
*
*/

body {
  font-size: 12px;
  font-family: Helvetica Neue, Helvetica, San Serif;
  min-height: 100vh;
  background-color: white;
}
.row {
  margin: 0;
}

h2,h3 {
  &.sectionHead {
    font-size: 6.9rem;
    font-weight: 200;
    line-height: 8.4rem;
    letter-spacing: .6px;
    text-align: center;
    padding: 10rem 0;
  }

  &.light {
    color: $darkHeader;
  }

  &.dark {
    color: $lightHeader;
  }
}

h2 {
  &.sectionHead {
    font-size: 6.9rem;
    font-weight: 200;
    line-height: 8.4rem;
    letter-spacing: .6px;
  }
}

h3 {
  &.sectionHead {
    font-size: 3.0rem;
    letter-spacing: 3px;
  }
}

.wrapper {
  padding: 10px;
}

.container-fluid {
  padding: 0;
  min-height: 100vh;
}

nav {
  box-shadow: 0 .3rem .2rem rgba(0,0,0,0.25);
  height: 10rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #FFF;
}

.logo {
  float: left;
  padding-top: 15px;

  img {
    margin-top: 15px;
    margin-left: .5rem;
    width: 165px;
  }
}

.btn-primary {
  background-color: #2D3E5D;
  color: white;
  font-weight: bold;
  margin-bottom: 4px;
}

.hero {
  background: asset-url('splash_filtered.jpg') no-repeat top center;
  background-size: cover;
  padding-bottom: 12rem;

  p {
    font-weight: 600;
    color: #fff;
    width: 100%;
    padding: 10rem 10% 7rem;
    font-size: 3.1rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;
    text-shadow: 0 0px 3px rgba(0,0,0,0.3);
  }

  #joinNowCTA {
    text-align: center;

    a {
      display: inline-block;
      background-image: -webkit-linear-gradient(270deg, #F685A3 0%, #E63966 100%);
      background-image: linear-gradient(-180deg, #F685A3 0%, #E63966 100%);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px 1px 8px 0px #E63966;
      border-radius: 3px;
      color: #fff;
      padding: 2rem 6rem;
      font-size: 2.4rem;
      font-weight: 600;
      text-align: center;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.unit {
  &.light {
    background-color: #FFF;
  }
}

.thumbnail {
  border: 0;
  box-shadow: none;

  &.dark {
    background-color: transparent;

    .caption {
      color: #fff;
    }
  }

  img {
    max-height:300px;
  }

  h3 {
    font-size: 3rem;
    letter-spacing: .3rem;
    padding: 0 2rem;
  }

  p {
    font-size: 1.6rem;
    padding: 0 2rem;
  }
}

.unit.userProfiles {
  img {
    width: 300px;
    height: 300px;
  }
  .caption * {
    text-align: center;
  }

  .caption {
    h3 {
      font-size: 2.3rem;
      letter-spacing: .4px;
      font-weight: 600;
    }

    .jobTitle {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.18;
      letter-spacing: .5px;
    }

    .companyName {
      font-size: 1.8rem;
      line-height: 1.22;
      color: $headerNavColor;
    }
  }
}

.unit.howItWorks {
  position: relative;

  .thumbnail {

    .thumbnailImg {
      width: 209px;
      height: 209px;
      text-align: center;
      margin: 0 auto;
      position: relative;

      img {
        max-height: 209px;
        max-width: 209px;
        display: block;
        position: relative;
        margin: 0 auto;
      }
    }
  }

  .row {
    position: relative;
  }

}

.unit.partners {
  padding-bottom: 10rem;

  div.col-sm-6 {
    min-height: 190px;
  }

  img {
    margin: 0 auto;
    display: block;
    padding: 0 1rem;
    width: 400px;
  }

  div.row div:last-child img {
    width: auto;
    height: 100px;
  }
}

.unit.social {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  div {
    padding: 1.5rem 1rem 1rem;
  }

  #twitterLink {
    height: 32px;
    width: 32px;
    display: block;
  }

  #emailLink {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }

  .copyright {
    text-align: center;
  }
}

.unit.contact {

  /* MailChimp Form Styling */
  #mc_embed_signup {
    clear: left;
    font: Helvetica, Arial, sans-serif;
    width: 100%;
    color: $darkHeader;

    label {
      font-size: 3rem;
    }
  }

  background-color: #EFA936;

  .sectionHead {
    text-align: center;
      line-height: 1;
      font-weight: 600;
      letter-spacing: normal;
      padding: 4rem 0;
  }

  form {
    margin-bottom: 10rem;
    text-align: center;
  }

  input[type='text'] {
    font-size: 1.8rem;
      padding: 1.25rem 1rem;
      border-radius: 5px 0 0 5px;
      border: 1px solid #aeaeae;
    border-right: 0;
  }

  input[type='submit'] {
    background-image: linear-gradient(-180deg, #F685A3 0%, #E63966 100%);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50), inset 0px 1px 8px 0px #E63966;
    border: 0;
      font-size: 1.95rem;
      border-radius: 0 5px 5px 0;
      padding: 1.1rem 2.5rem 1.25rem;
      color: #fff;
      font-weight: 600;
      margin-left: -1px;
  }
}

.arrows {
  display: none;
  position: absolute;
  width: 100%;
  top: 12rem;

  div {
    position: relative;
    img {
      display: block;
      width: 43px;
      height: 42px;
      position: absolute;
      left: 50%;
    }
  }

  div:first-child {
    img {
      right: 0;
      margin-right: -21px;
      left: auto;
    }
  }

  div:last-child {
    img {
      left: 0;
      margin-left: -21px;

    }
  }
  img {
    height: 43px;
    width: 42px;
    display: block;
  }

  &.arrowForThree {
    div:first-child {
      img {
        right: 35%;

      }
    }

    div:last-child {
      img {
        left: 33%;
      }
    }
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 850px) {
  .logo {
    img {
      width: auto;
      margin-top: 0;
    }
  }
  .headerNav {
    li {
      a {
        font-size: 1.6rem;
      }

      &:last-child {
        a {
          font-size: 2.4rem;
        }
      }
    }

  }
  .hero {
    p {
      font-size: 4rem;
      padding: 10rem 10% 5rem;
    }
  }

  .thumbnail {
    h3 {
      font-size: 3rem;
    }
  }

  .partners {
    img {
      max-width: 250px;
      width: 100%;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero {
    p {
      font-size: 6.4rem;
      padding: 15rem 10% 10rem;
    }
  }

  .thumbnail {
    h3 {
      font-size: 4rem;
    }
  }
  h3 {
    &.sectionHead {
      font-size: 4rem;
    }
  }

  .arrows {
    display: block;
  }

  .list-md-inline li {
    display: list-item;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .howItWorksArrow {
    display: block;
  }

  .partners {
    img {
      max-width: 300px;
      width: 100%;
    }
  }
}
.welcomePageContainer{
  background-color: #2D3E5D;
}


#container {
  font-family: Helvetica Neue, Helvetica, Sans Serif;
  color: #9B9B9B;
  margin: 60px;
}

#container h1,#container h2 {
  color:#1BC49B;
  font-size: 23px;
}

a.btn:hover {
  color: white;
}

.flush {
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.large-frame {
  margin: 40px 0px !important;
}

#mentor-button {
  margin: 47px 0px;
}

.medium-frame {
  margin: 20px 0px !important;
}

.tiny-frame {
  margin: 3px 0px !important;
}

.no-frame {
  margin: 0px !important;
}

.side-frame {
  padding: 0px 80px !important;
}

.divider {
  border-bottom: 1px solid #AEAEAE;
}

.side-divider {
  border-right: 1px solid #AEAEAE;
  height: inherit;
}

/*Profile Picture Section*/

.profile {
  height: 250px;
  width: 250px;
  max-width: 100%;
}

/*Mentor Section*/

.actions .btn {
  background-color: #EFA936;
  color: white;
  font-weight: bold;
}

.participating {
  margin-top: 0;
  margin-bottom: 28px;
}

#question-input {
  @extend .form-control;
  width: 45%;
  display: inline-block;
}

.mentor .field_with_errors { display: inline; }

/*Waitlist section*/

.waitlist h2 span {
  color: #9B9b9b;
}

/*Profile Info Section*/

.context h4 {
  color: #2D3E5D;
  font-weight: bold;
  font-size: 16px;
}

.context h4 div {
  color: #9B9B9B;
  font-weight: 400;
}

/*Edit profile section*/

.edit .btn {
  background-color: #2D3E5D;
  color: white;
  font-weight: bold;
}

/* Peer List Section */
.profile-list {
  list-style: none;
  padding-left: 0;

  > li {
    margin-bottom: 10px;
    overflow: hidden;

    h5 {
      margin: 0;
      line-height: 65px;
    }
    img {
      width: 65px;
      height: 65px;
      float: left;
      margin-right: 10px;
      border-radius: 100%
    }
  }
}
