<div class='container'>

    <div class='wr-location'>

        <div class='row'>
            <div class='col-md-12'>
                <%= image_tag @location.hero_url, class: 'hero-img' %>
            </div>
        </div>


        <div class='row'>
            <div class='div-col-12'>
                <h1 class='text-center'><%= @location.name %></h1>
            </div>
        </div>

        <br>

        <div class='row'>
            <div class='col-md-12'>
                <%= @location.description.html_safe %>
            </div>
        </div>

        <br><br>

        <div class='row'>
            <div class='col-md-12'>
                Sign up for Peer Groups section
            </div>
        </div>

        <br><br>

        <div class='row'>
            <div class='col-md-12'>
                Sign up for Mentors section
            </div>
        </div>

        <br><br>

        <div class='row'>
            <div class='col-md-12'>
                See upcoming Eventbrite events
            </div>
        </div>

    </div>

</div>
